.mainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-left: 10%;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: var(--darkest);
    background-color: var(--white);
}

