.rightColumn {
  display: none;
  width: 50%;
  background-color: var(--primary-blue);
  align-items: center;  /* Changed from start to center */
  justify-content: center; /* Changed from start to center */
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media (min-width: 1024px) {
  .rightColumn {
    display: flex;
  }
}