@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --light-grey: #D4D4D4;
  --primary-blue: #3259E6;
  --light-blue-grey: #4961BA;
  --greyer-blue: #505E91;
  --greyest-blue: #495066;
  --darker: #34363B;
  --darkest: #262933;
  --white: #FFFFFF;
  --error: #E6362E;
  --success: #02E58F;
  --error: #E6362E;
  --warning: orange;
}

@layer utilities {
  .bg-primary {
    background-color: var(--primary-blue);
  }
  .text-primary {
    color: var(--primary-blue);
  }

  .text-darkest {
    color: var(--darkest)
  }

  .logo-text-crane {
    color: var(--darkest);
    font-size: 32px;
    font-family: var(--font-montserrat), sans-serif;
    font-weight: lighter;
  }

  .logo-text-crane-white {
     color: var(--white);
      font-size: 26px;
      font-family: var(--font-montserrat), sans-serif;
      font-weight: lighter;
  }


  .btn-primary {
    margin-top: 10px;
    background-color: var(--primary-blue);
    color: var(--white);
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 4px;
    height: 40px;
    transition: all ease 0.1s;
  }

  .btn-primary:hover {
    cursor: pointer;
  }

  .btn-google {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid var(--light-grey);
    color: var(--darkest); 
    transition: all ease 0.1s;
  }

.btn-google:hover {
  cursor: pointer;
  border-color: var(--darker);
  box-shadow: 1px 1px 2px var(--darker);
}

.navBar {
  background-color: var(--primary-blue);
  position: absolute;
  left: 0;
  top: 0; 
  height: 100%;
  min-height: 100vh;
  transition: all ease 0.3s; /* Transición suave para el desplazamiento */
  z-index: 999;
}

.navBar:hover {
  cursor: pointer;
}

#sidebar {
    position: absolute;
    right: 0;
    top: 0; 
    min-height: 100vh;
    height: 100%;
    transition: all ease 0.3s; /* Transición suave para el desplazamiento */
}

.sidebar-inactive {
    width: 30px;
}

.sidebar-active {
    width: 400px;
}
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --primary-blue: var(--primary)
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--darker);
    --foreground: #ededed;
  }
}

body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
