.mainContent {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: var(--white);
}

.homeDetailPage {
    background-color: white;
    padding: 10px;
    height: 100vh;
}