.mainContent {
    width: 100vw;
    position: relative;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    background-color: var(--white);
}

.noAppsContainer {
    background-color: white;
    width: 80vw;
    text-align: center;
    padding: 10px 90px;
}

.homeDetailPage {
    background-color: white;
    min-height: 100vh;
    width: 100vw;
    padding: 10px 90px;
}