.header {
  display: flex;
  flex-direction: column;
  color: var(--darker);
  border-bottom: 1px solid var(--darker);
  padding-bottom: 6px;
}

.state {
  border-radius: 12px;
  padding: 2px 10px;
  font-size: 0.8rem;
  font-weight: 500;
  color: white;
  text-align: center;
  box-shadow: 1px 1px 5px var(--darker);
}

.active {
  background-color: var(--success);
}

.inactive {
  background-color: var(--error);
}
