/* Nuevo CSS para un diseño más profesional y amigable */


.dashboardGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 12px; 
  max-width: 800px; 
  margin: 32px auto;
  padding: 0 20px;
}

.laboratorio {
  grid-column: span 3; 
}

.inicio {
  grid-column: 1 / 2;
}
.repositorio {
  grid-column: span 2;
}

.perfil {
  grid-column: span 2;
}
.configuracion {
  grid-column: span 1;
}

.dashboardCard {
  border: 1px solid var(--light-grey);
  border-radius: 12px; 
  padding: 24px; 
  width: 100%;
  background-color: var(--white);
  text-align: left;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); 
}

.dashboardCard:hover {
  border-color: var(--primary-blue); 
  transform: translateY(-4px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); 
}

.headerContent {
  display: flex;
  align-items: center;
  margin-bottom: 16px; 
}

.iconContainer {
  background-color: var(--secondary-blue); 
  color: var(--primary-blue);
  border-radius: 50%;
  padding: 12px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardCard h2 {
    font-size: 1.5rem;
}

.dasboardCardLink {
  display: inline-block;
  margin-top: 20px;
  color: var(--primary-blue);
  font-weight: 600; 
  text-decoration: none; 
}

@media (max-width: 768px) {
  .dashboardGrid {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .laboratorio, .inicio, .repositorio, .perfil, .configuracion {
    grid-column: span 1; 
  }
}